* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  background-color: powderblue;
}

.desktop {
  display: flex;
  flex-direction: column;
}

#player,
#player-mobile {
  align-self: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Book */
.book,
.book-mobile {
  position: relative;
  width: 520px;
  height: 680px;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid powderblue;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

.flipped-mobile .front,
.flipped-mobile .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: #636363;
}

i {
  font-size: 50px;
  color: gray;
}

/* Paper stack order */
#p1,
#p1-mobile {
  z-index: 8;
}

#p2,
#p2-mobile {
  z-index: 7;
}

#p3,
#p3-mobile {
  z-index: 6;
}

#p4,
#p4-mobile {
  z-index: 5;
}

#p5,
#p5-mobile {
  z-index: 4;
}

#p6,
#p6-mobile {
  z-index: 3;
}

#p7,
#p7-mobile {
  z-index: 2;
}

#p8,
#p8-mobile {
  z-index: 1;
}

.mobile {
  display: none;
}

/* Pages Image */
#f1,
#f1-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#b1,
#b1-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#f2,
#f2-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#b2,
#b2-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_4.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#f3,
#f3-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_5.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#b3,
#b3-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_6.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#f4,
#f4-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_7.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#b4,
#b4-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_8.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#f5,
#f5-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_9.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#b5,
#b5-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_10.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#f6,
#f6-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_11.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#b6,
#b6-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_12.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#f7,
#f7-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_13.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#b7,
#b7-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_14.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#f8,
#f8-mobile {
  position: relative;
  grid-area: main;
  background: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#b8,
#b8-mobile {
  position: relative;
  grid-area: main;
  background: url("./Images/Advik_NewsLetter_15.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Video Mask */
#b7 .video-mask {
  position: absolute;
  bottom: 7%;
  height: 195px;
  left: 9%;
  right: 9%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

#b7-mobile #player-mobile {
  position: absolute;
  bottom: 11%;
  height: 148px;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
  }
  .book-mobile {
    width: 350px;
    height: 550px;
  }
  .video-modal-content {
    margin: 40% auto;
    width: 320px;
  }
  #player {
    width: 310px;
    height: 220px;
  }
}
